<p>Hello!</p>

<p>Thank you for subscribing to weather updates for <strong>{{ city }}</strong>.</p>

<p>Please confirm your subscription by clicking the link below:</p>
<p><a href="{{ confirmation_url }}">Confirm Subscription</a></p>

<p>If you did not request this subscription, please ignore this email.</p>

<p>Thanks,<br>
The Weather API Team</p> 